# Eat Safe, Love

## Notebook Set Up

In [4]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [11]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
mongo = MongoClient(port=27017)

# Define the 'classDB' database in Mongo
db = mongo.classDB

In [12]:
# Create an instance of MongoClient
mongo.list_database_names()

['admin', 'config', 'local', 'uk_food']

In [13]:
# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'config', 'local', 'uk_food']

In [14]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [15]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [16]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [17]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene':{'$eq': 20}}

# Use count_documents to display the number of documents in the result

print("Number of documents in result:", establishments.count_documents(query))

# Display the first document in the results using pprint
establishments.count_documents({})

# Display the first document in the results using pprint

pprint("First result:")
results = establishments.find(query)
pprint(results[0])

Number of documents in result: 0
'First result:'

IndexError: no such item for Cursor instance

In [18]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_df))

# Display the first 10 rows of the DataFrame
result_df.head()

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [19]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query_london = {'LocalAuthorityName':{'$regex':'London'}, 'RatingValue':{'$gte':'4'}}

# Use count_documents to display the number of documents in the result
print("number of documents:", establishments.count_documents(query_london))

# Display the first document in the results using pprint

pprint("First document:")
results_london = establishments.find(query_london)
# pretty print the first document
for i in range(1):
    pprint(results_london[i])

number of documents: 0
'First document:'

IndexError: no such item for Cursor instance

In [20]:
# Convert the result to a Pandas DataFrame
result_london_df = pd.DataFrame(results_london)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_london_df))
# Display the first 10 rows of the DataFrame
result_london_df.head(10)

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [21]:
#search for "penang flavours"
query = {'BusinessName': 'Penang Flavours'}
results = establishments.find(query)
for result in results:
    pprint(result)

{'AddressLine1': 'Penang Flavours',
 'AddressLine2': '146A Plumstead Rd',
 'AddressLine3': 'London',
 'AddressLine4': '',
 'BusinessName': 'Penang Flavours',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'Distance': 4623.972328074718,
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': True,
 'Phone': '',
 'PostCode': 'SE18 7DY',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64aed4600708cc35b958bf65'),
 'geocode': {'latitude': 51.490142, 'longitude': 0.08384},
 'scores': {'ConfidenceInManagement': '', 'Hygiene': '', 'Structural': ''}}
{'AddressLine1': 'Penang Flavours',
 'AddressLine2': '146A Plumstead Rd',
 'AddressLine3': 'London',
 'AddressLine4': '',
 'BusinessName': 'Penang Flavours',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': '',
 'Distance': 4623.972328074718,
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': True,
 'Phone': '',
 'PostCode': 'SE18 7DY',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64aeda5b48594cb9a56c3f06'),
 'geocode': {'latitude': 51.490142, 'longitude': 0.08384},
 'scores': {'ConfidenceInManagement': '', 'Hygiene': '', 'Structural': ''}}

In [22]:
# Convert result to Pandas DataFrame
penang_df = pd.DataFrame(results)
penang_df

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [23]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0

match_query = {'$match': {'scores.Hygiene':{'$eq': 0}}}

 # 2. Groups the matches by Local Authority              
group_query = {'$group': {'_id': "$LocalAuthorityName", 'count': { '$sum': 1 }}}
               
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': { 'count': -1 }}
               
 # Put the pipeline together              
pipeline = [match_query, group_query, sort_values]
 
# Run the pipeline through the aggregate method, cast the results as a list, and save the results to a variable
results = list(establishments.aggregate(pipeline))
               
# Print the number of documents in the result
print("Number of rows in result: ", len(results))
               
# Print the first 10 results
pprint(results[0:10])

Number of rows in result:  0
[]

In [24]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_df))


# Display the first 10 rows of the DataFrame
result_df.head()

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []